* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}


html, body {
    background-repeat: no-repeat;
height:100%
}

header {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    padding: 30px;
    display: flex;
}

header h1 a{
    text-decoration: none;
    color: #FFFFFF;
}

a:hover{
    color: #FFFFFF;
}

form {
    margin: 11% auto;
    width: 30%;
}

hr {
    width: 100%;
    height: 1px;
    margin: 10px 0 10px 0;
}

form p {
    color: white;
}

.s1 {
    font-family: Montserrat;
    font-size: 24px;
    margin-bottom: 20px;

}
.s2 {
    font-family: Source Sans Pro;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 20px;
}

form input {
    margin-bottom: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    padding: 12px;
    font-family: Source Sans Pro;
    font-size: 16px;
    line-height: 20px;
}

form input:focus {
    outline-width: 0;
}

::placeholder {
    font-family: "Source Sans Pro";
    color: white;
}

.submit-btn {
    border: 0;
    color: white;
    width: 100%;
    margin-top: 15px;
    display: block;
    background-color: #FFD99F;
    color: white;
    padding: 12px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
}

@media (max-width: 800px) {

    body {
        width: auto;
    }

    header h1 {
        font-size: 28px;
    }

    form {
        width: 40%;
    }

    .s1 p {
        font-size: 16px;
    }

    .s2 p {
        font-size: 12px;
    }
}

@media (max-width: 500px) {

    #flex {
        flex-direction: column;
        align-items: center;
    }

}