* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
}

#hdr {
    background-color: #34262B;
}

#user {
    width: 100%;
    margin: 30px 0;
    overflow: hidden;
}

#user #info{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
}

#user img {
    float: left;
    height: 260px;
    width: 260px;
    object-fit: cover;
    margin-right: 30px;
    border-radius: 50%;
}

#user #info h1 {
    color: black;
    font-size: 70px;
    font-family: 'Montserrat';
}

#user #info span, i {
    color: gray;
    font-size: 25px;
    margin-top: 20px;
}

#user #info #settings {
    float: right;
}

#user #info #settings i {
    font-size: 30px;
    color: black;
    display: inline-block;
}

main {
    width: 1070px;
    margin: 60px auto;
}

.heart {
    color: gray;
    padding: 0 4px;
}

.fas, .far{
    margin: 0;
}

.deleteObjectBtn{
    color: red;
    padding: 0 6px;
}

.content{
    padding: 50px 0;
}

a:hover{
    color: red;
}

i {
    font-size: 20px;
    color: #000;
}

.pagination a {
    color: rgba(46, 57, 63, 0.6);
    padding: 8px 16px;
    border: 3px black;
    text-decoration: none;
    transition: background-color .3s;
}


.pagination a.active {
    background-color: black;
    color: white;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

@media(max-width: 1040px) {
    #user #info h1 {
        font-size: 50px;
    }
}

@media(max-width: 940px) {

    #user #info h1 {
        font-size: 35px;
    }
}

@media(max-width: 920px) {

    main {
        flex-direction: column;
        width: 80%;
    }

    .box {
        width: 100%;
    }

}

@media (max-width: 770px) {
    #info{
        flex-direction: column;
    }

    a{
        padding: 0;
    }

    .fas {
        padding: 10px 0;
    }
}

@media(max-width: 655px) {
    #user img{
        height: 180px;
        width: 180px;
    }
    #user{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
