* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Section 1 */

#S1  {
    background-size: cover;
    height: 80vh;
}

a:hover{
    color: #FFFFFF;
}

.overlay {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 80vh;
    background-color: rgba(0,0,0,0.5);
}

.object-wrap {
    width: 60%;
    margin: 90px auto;
    position: relative;
}

.divider {
    width: 100%;
    padding: 0;
    margin: 15px 0;
}

.object-rating {
    display: flex;
}

a i:hover{
    font-weight: bold;
}

a i:hover + .rating.info-icon{
    font-weight: bold;
}

.rate-box{
    margin: 30px 0;
}

.rate{
    font-family: "Montserrat", sans-serif;
    background-color: #34262B;
    padding: 10px 20px;
    margin-right: 10px;
}

.object-title {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 110px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.object-info {
    display: flex;
    justify-content: space-between;
}

i {
    color: #fff;
    font-size: 20px;
}

.info-icon {
    padding: 5px;
    height: 32px;
}

.info-line {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}

/* Section 2 */

#S2 {
    height: 100vh;
}

.boxing {
    width: 80%;
    margin: 50px auto;
    padding: 25px;
    background: #FFFFFF;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.about-img {
    width: 100%;
    padding: 10px 0;
}

.about-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: rgba(19, 29, 36, 0.4);
    padding: 10px 0;
}

.about-desc {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    color: #1A1A1A;
    text-align: justify;
}

@media (max-width: 1100px) {

    .object-title {
        font-size: 80px;
    }
}

@media (max-width: 740px) {

    .object-title {
        font-size: 50px;
    }

    .info-line {
        font-size: 15px;
    }

    .info-icon {
        font-size: 15px;
    }
}

@media (max-width: 610px) {

    .object-info {
        flex-direction: column;
        text-align: center;
    }

    .object-rating {
        margin: 20px 0;
    }
}

@media (max-width: 480px) {

    .object-title {
        font-size: 30px;
    }

    #S2 {
        height: auto;
    }
}