* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.overlay {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 60vh;
    background: linear-gradient(180deg, rgba(73, 73, 73, 0.67) 0%, rgba(0, 0, 0, 0.67) 100%);
}

body {
    font-family: Montserrat;
}

.cover {
    height: 60vh;
    background-position: center center;
}

.line1 {
    width: 600px;
    position: relative;
    color: #FFFFFF;
    margin: 0 auto;
}

.cat-type{
    padding: 70px 0;
    z-index: 1;
}

.h1 {
    position: relative;
    margin: auto;
    font-family: Montserrat;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 100px;
    color: white;
}

.mid .search input[type=text] {
    font-size: 15px;
    line-height: 18px;
    width: 74%;
    padding: 23px;
    background: rgba(255, 255, 255, 0.9);
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.5);
}


.mid .search button {
    width: 25%;
    padding: 20px;
    background: #34262B;
    color: white;
    font-size: 17px;
    border: none;
}

.subtype-text {
    color: #000000;
    padding: 0;
}

dt {
    padding: 5px;
}

.filter {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35);
}

form {
    margin: 50px 0;
}

h2, dl {
    padding: 10px;
}

.subtype dl dt:hover, .pricing dl dt:hover, .special dl dt:hover {
   color:#B66B21;
}

.pricing dl {
    font-weight: bolder;
}
.mid .subtype, .mid .special, .mid .pricing {
    padding: 10px;
}

.line {
    width: 1px;
}

.box {
    width: 300px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    margin: 10px 0;
}

.title {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 22px;
    padding: 10px 5px;
}

.object-image {
    width: 100%;
    border-radius: 32px 32px 0 0;
    object-fit: cover;
    height: 200px;
}

.filters {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.one-info {
    padding: 10px 5px;
}

.info {
    padding: 20px;
}

.info-line {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 0 5px;
}

i {
    font-size: 20px;
}

.pagination a {
    color: rgba(46, 57, 63, 0.6);
    padding: 8px 16px;
    border: 3px black;
    text-decoration: none;
    transition: background-color .3s;
}

.title, .one-info{
    margin: 0;
}

.pagination a.active {
    background-color: black;
    color: white;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
}


.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.mid {
    height: 1700px;
    width: 1070px;
}

@media (max-width: 1080px) {

    .mid {
        width: 100%;
    }

    .h1{
        font-size: 70px;
    }

    form{
        margin: 50px 10px;
    }

    .filter{
        margin: 0 10px;
    }
}

@media (max-width: 740px) {

    .h1 {
        font-size: 50px;
    }

    .line1{
        width: 450px;
    }

    .box {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .h1 {
        font-size: 30px;
    }

    .line1{
        width: 300px;
    }

    .cover, .overlay{
        height: 50vh;
    }
}

@media (max-width: 496px) {
    .filter{
        flex-direction: column;
        margin-bottom: 20px;
    }

    a {
        display: block;
        text-align: center;
    }
}

@media (max-width: 440px) {
    .mid .search input[type=text]{
        width: 100%;
    }

    .mid .search button{
        margin: 10px 0;
        width: auto;
    }
}